/* 20px - everything needs to fit in multiples of this to maintain vertical rhythm */
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure, img {
  margin: 0;
  padding: 0;
}


/**
 * consistent box sizing
 */
html, body, div {
  box-sizing: border-box;

}


/**
 * Basic styling
 */
body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.25rem;
  color: #111;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  max-width: 2820px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

h1 a{
  text-decoration: none;
}

h1 {
  font-size: 2.8rem;
  line-height: 2.8rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

h1 span.date {
  font-weight: 300;
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25rem;
  display: block;
  margin-bottom: 1.25rem;
}


h3{
  font-weight: normal;
  font-size: 0.625rem;
}

h3 a{
  text-decoration: none;
}

h3 a:HOVER{
  text-decoration: underline;
}

small{
  text-transform: uppercase;
}

a {
  color: #111;
}

blockquote{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

p {
  padding-left: 0;
  padding-right: 0;
  line-height: 1.25rem;
  margin-bottom: 1.25rem;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

p.image{
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

ol.notes{
  padding-left: 0;
  padding-right: 0;
  line-height: 1.25rem;
  margin-bottom: 1.25rem;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.625rem;
  line-height: 1rem;
}

img {
  max-width: 100%;
}

fieldset{
  display: inline;
  border: 0;
  padding: 0;
  margin: 0;
}

/**
 * Site content styling
 */
.page-content{
  width: 100%;
}


/*
 * HEADER STYLING
 */
section.header{
  display: flex;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #e5e5e5;
  margin-bottom: 1.25rem;
}

section.header h1{
}

section.header div{
  text-align: right;
  flex-grow: 1;
}

section.header .divider{
  margin-left: 5px;
  margin-right: 5px;
}


.open-close-wrapper{
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  width: 21px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.625rem;
  cursor: pointer;
}

.open-close{
  width: 5px;
  height: 5px;
  margin-left: 1px;
  margin-right: 1px;
}

.open-close:nth-child(2){
  margin-top: 6px;
  margin-bottom: 0px;
}

section.sparklines.expanded .open-close:nth-child(2){
  margin-top: 0px;
  margin-bottom: 6px;
}

.handle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #5C4B51;
  opacity: 0.6;
}

.open-close:nth-child(2) .handle{
  -webkit-animation: handle-throb  2.0s infinite ease-in-out;
  animation: handle-throb  2.0s infinite ease-in-out;
}

@-webkit-keyframes handle-throb {
  0%, 100% {
      opacity: 0.6;
  }
  50% {
      opacity: 1;
      background-color: #8CBEB2;
  }
}

@keyframes handle-throb {
  0%, 100% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
    background-color: #8CBEB2;
  }
}
/*
 * END SPARKLINE STYLING
 */


/**
 * Main content styling
 */
section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

article {
  width: 100%;
  padding-bottom: 0px;
  margin-bottom:  2.5rem;
  position: relative;
}

article blockquote p{
  font-style: italic;
  font-size: 1.25rem;
  line-height: 1.6rem;
  margin-left: 80px;
  margin-right: 80px;
}

article.federer-perspired blockquote{
  margin-top: 10px;
  margin-bottom: 0px;
}



article blockquote p.quote span.text{
}

article blockquote p.quote span.quote-mark{
  font-size: 1.4rem;
}

article blockquote p.quote span.source{
  font-size: 1rem;
  font-style: normal;
}

article.federer-perspired div.update{
  margin-top: 1rem;
  text-align: center;
}

article.embed{
  text-align: center;
}

article.embed iframe{
  max-width: 100%;
}


a.action{
  color: #fff;
  background-color: #F3B562;
  padding-top: 4px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  text-decoration: none;
}

a.action:HOVER{
  background-color: #F2EBBF;
  color: #5C4B51;
}

a.action:active{
  background-color: #5C4B51;
  color: #fff;
}

a.player-action{
  color: #fff;
  background-color: #8CBEB2;
  padding-top: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
  text-decoration: none;
}

a.player-action:HOVER{
  background-color: #F2EBBF;
  color: #5C4B51;
}

a.player-action:active{
  background-color: #5C4B51;
  color: #fff;
}

.visualisation{
  display: flex;
  flex-direction: row;
}

.visualisation .controls{
  display: inline-block;
  width: 40px;
}

.visualisation .graphic{
  display: inline-block;
  flex-grow: 1;
}

.visualisation .caption{
  width: 100px;
  position: relative;
}

.visualisation .caption p{
  position: absolute;
  bottom: 0px;
  margin-bottom: 0;
  font-style: italic;
  font-size: 0.625rem;
  line-height: 0.75rem;
  width: 100%;
}

.visualisation .caption.left p{
  text-align: right;
}

.slider{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 300px;
}

.slider .bar{
  position: absolute;
  left: 15px;
  width: 10px;
  height: 100%;
  background-color: rgba(204,204,204,0.2);
  border-radius: 20px;
}

.slider .handle{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  background-color: grey;
  opacity: 1;
  cursor: pointer;
}

.slider .handle-max{
  top: 0px;
  background-color: #F06060;

}

.slider .handle-min{
  top: 280px;
  background-color: #8CBEB2;
}

.barchart{
  height: 300px;
  position: relative;
  overflow: hidden;
}

.barchart div{
  background-color: rgba(204,204,204,0.2);
  position: absolute;
  cursor: pointer;
  text-align: center;
}

.barchart div span{
  text-transform: uppercase;
  font-size: 0.625rem;
  line-height: 0.75rem;
  padding: 4px;
  display: block;
}

.barchart div span.mean, .barchart div span.count{
  font-size: 1.25rem;
}

.barchart div.selected{
  background-color: rgba(140, 190, 178, 1);

}

.barchart div.selected span{
    color: #fff;
}

.linechart{
  height: 300px;
  width:100%;
  position: relative;
}

.linechart .line {
  fill: none;
  stroke-width: 2px;
}


/**
 * Footer styling
 */
footer {
  width: 100%;
  margin: auto;
  text-align: justify;
  padding-top: 20px;
}

footer p {
  text-align: center;
  line-height: 1.25rem;
}


div.load_more_comments{
  width: 100%;
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

a.load_more_comments{
  cursor: pointer;
  text-decoration: underline;
}

div.end_of_stream{
  width: 100%;
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}


/**
 * SPINNER
 */
.spinner-wrapper{
  width: 100%;
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/**
 * END SPINNER
 */




@media (max-width: 2000px) {
  header.hero {
    height: 571px;
    background-image: url(../images/hero/charlie-2000-571.jpg);
  }

  header.mini-hero {
    height: 100px;
    background-image: url(../images/hero/charlie-2000-100.jpg);
  }


}



@media (max-width: 800px) {
  header.site {
    flex-direction: column;
  }

  section.header div{
    text-align: center;
  }

  h1{
    display: block;
    text-align: center;
  }

  section.header h1{
    flex-grow: 1;
    width: 100%;
    text-align: center;
    line-height: 1rem;
    margin-top: 0.425rem;
    margin-bottom: 0;
  }

}


@media (max-width: 600px) {

  a.action:HOVER{
    color: #fff;
    background-color: #F3B562;
  }

  a.player-action:HOVER{
    background-color: #8CBEB2;
    color: #ffffff;
  }

  article blockquote p{
    margin-left: 20px;
    margin-right: 20px;
  }

  .barchart div span{
    padding-bottom: 1px;
  }

  .barchart div span.mean, .barchart div span.count{
    font-size: 0.425rem;
    line-height: .625rem;
    padding-top: 1px;
  }
}
